<p class="title">
  server works! server id is: {{ serverId }}. server status is:
  {{ getServerStatus() }}
</p>

<button
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
  class="rounded border-2 border-red-300 m-5 shadow-sm p-2"
>
  Add server {{ allowNewServer }}
</button>

<input
  type="text"
  (input)="onUpdateServer($event)"
  class="border-2 border-black"
/>

<p
  [ngClass]="randomBoolean === true ? 'bg-orange-400' : 'bg-yellow-400'"
  class="text-xl"
>
  ternary example
</p>

<p *ngIf="randomBoolean === true; else elseStatement">if statement</p>
<ng-template #elseStatement>else statement</ng-template>

<div *ngFor="let number of randomArray; let i = index">
  value is: {{ number }}. index is: {{ i }}
</div>

<button
  (click)="onAddMoreStuff()"
  class="rounded border-2 border-red-300 m-5 shadow-sm p-2"
>
  add more number
</button>

<p>
  Passing data from parent component to child component using Input decorator
  example
</p>
<p>
  Passing data from child component to parent component using Output decorator
  and eventemitter example
</p>
<p>Server names</p>
<button
  type="button"
  ngClass="border-2 rounded border-cyan-700 text-5xl"
  (click)="onAddServer(newServerName)"
>
  add a server
</button>

<!-- local refference approach. get the data from an input by using hastag # -->
<input
  type="text"
  (input)="onUpdateServerName($event)"
  class="border-2 border-black"
  placeholder="serverName"
  #newServerName
/>

<!-- alternative way to get the value from an input
<input
  type="text"
  (input)="onUpdateServerName($event)"
  class="border-2 border-black"
  placeholder="serverName"
/>
-->

<div *ngFor="let serverName of serverNames">
  {{ serverName }}
</div>

<!-- view child approach. get the data from an input by using hastag #  -->
<input
  type="text"
  class="border-2 border-black"
  placeholder="viewChild"
  #viewChild
/>
